# Les opérateurs

On utilise des **opérateurs** (ce sont des symboles ou des mots réservés) pour manipuler les variables et leurs contenus.

## Les nombres. 

### Liste des principaux opérateurs arithmétiques (sur des 'int' ou 'float')

<table>
<thead>
<tr>
<th> Opérateurs</th>
<th> Opérations effectuées</th>
</tr>
</thead>
<tbody>
<tr>
<td> x + y </td>
<td>Addition</td>
</tr>
<tr>
<td> x - y </td>
<td> Soustraction </td>
</tr>
<tr>
<td> x * y </td>
<td> Multiplication </td>
</tr>
<tr>
<td> x / y </td>
<td> Division décimale de x par y </td>
</tr>
<tr>
<td> x // y </td>
<td> Quotient de la division euclidienne de x par y </td>
</tr>
<tr>
<td> x % y </td>
<td> Reste de la division euclidienne de x par y (modulo) </td>
</tr>
<tr>
<td> x ** y </td>
<td> Puissance : x à la puissance y </td>
</tr>
</tbody>
</table>

*Exemples :*

In [6]:
x = 3
y = 4.2
somme = x + y
print("la somme de",x,"+",y,"=",somme )

la somme de 3 + 4.2 = 7.2

In [7]:
x = 3
y = 4.0
difference = x - y
print("la différence de",x,"-",y,"=",difference )

la différence de 3 - 4.0 = -1.0

In [8]:
x = 3
y = 21.0
produit = x * y
print("le produit de",x,"*",y,"=",produit )

le produit de 3 * 21.0 = 63.0

In [9]:
x = 12
y = 3.5
quotient_decimal = x / y
print("le quotient de la division décimale de",x,"par",y,"est",quotient_decimal )

le quotient de la division décimale de 12 par 3.5 est 3.4285714285714284

In [10]:
x = 12
y = 5
quotient_euclidien = x // y
reste = x % y
print("le quotient de la division euclidienne de",x,"par",y,"est",quotient_euclidien )
print("le reste de la division euclidienne de",x,"par",y,"est",reste )

le quotient de la division euclidienne de 12 par 5 est 2
le reste de la division euclidienne de 12 par 5 est 2

En effet 12 = 2 * 5 + 2 : Dividende = Quotient * Diviseur + Reste

Il faut bien évidemment rappeler qu'une division euclidienne se réalise entre 2 entiers !

In [11]:
x = 2
y = 10
x_puiss_y = x ** y
print(x,"puissance",y,"=",x_puiss_y)

2 puissance 10 = 1024

## Les chaines de caractères

### Liste des principaux opérateurs sur des chaînes de caractères ('str')

<table>
<thead>
<tr>
<th align="left"> Opérateurs</th>
<th align="left"> Opérations effectuées</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left"> ch1 + ch2 </td>
<td align="left">Concaténation (les chaines ch1 et ch2 sont mises bout à bout)</td>
</tr>
<tr>
<td align="left"> len(ch1) </td>
<td align="left"> Longueur de la chaine (renvoie le nombre de caractères de ch1) </td>
</tr>
<tr>
<td align="left"> ch1[i] </td>
<td align="left"> (i+1)ème caractère de ch1 </td>
</tr>
</tbody>
</table>

*Exemples :*

In [13]:
ch1 = "az"
ch2 = "er"
ch3 = "ty"
mot = ch1 + ch2 + ch3
print("Notre mot est",mot )

Notre mot est azerty

In [14]:
print("Le nombre de caractères dans",mot, "est :", len(mot) )

Le nombre de caractères dans azerty est : 6

In [38]:
print("Le 3ième caractère de",mot, "est :", mot[2] )

Le 3ième caractère de azerty est : e

## Les listes

### Liste des principaux opérateurs sur des listes ('lst')

<table>
<thead>
<tr>
<th align="left"> Opérateurs</th>
<th align="left"> Opérations effectuées</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left"> len(L) </td>
<td align="left"> Donner le nombre d'élément présents dans la liste L</td>
</tr>
<tr>
<td align="left"> L.append(e) </td>
<td align="left"> Ajouter l'élément e à la fin de la liste L </td>
</tr>
<tr>
<td align="left"> del L[i] </td>
<td align="left"> Supprimer le (i+1)ème élément de la liste L </td>
</tr>
<tr>
<td align="left"> L.reverse() </td>
<td align="left"> Inverser les élements de la liste L (le dernier élément sera le premier, etc.) </td>
</tr>
<tr>
<td align="left"> L.sort() </td>
<td align="left"> Trier la liste L dans l'ordre croissant </td>
</tr>
</tbody>
</table>

In [19]:
ma_liste = [1,2,3]
print("Il y a",len(ma_liste), "éléments dans la liste suivante", ma_liste)

Il y a 3 éléments dans la liste suivante [1, 2, 3]

In [40]:
ma_liste.append(4)
print("la nouvelle liste est",ma_liste )

la nouvelle liste est [1, 2, 3, 4]

In [42]:
del ma_liste[1]
print("la nouvelle liste est",ma_liste )

la nouvelle liste est [1, 3, 4]

In [43]:
ma_liste.reverse()
print("la liste inversée est",ma_liste )

la liste inversée est [4, 3, 1]

In [44]:
ma_liste.sort()
print("la liste croissante est",ma_liste )

la liste croissante est [1, 3, 4]

## Les booléens

### Liste des principaux opérateurs de comparaison (pour former des expressions booléennes)

<table>
<thead>
<tr>
<th align="left"> Opérateurs</th>
<th align="left"> Opérations effectuées</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left"> x > y </td>
<td align="left"> Test si x est supérieur à y et renvoi True dans ce cas et False sinon</td>
</tr>
<tr>
<td align="left"> x >= y </td>
<td align="left"> Test si x est supérieur ou égal à y et renvoi True dans ce cas et False sinon </td>
</tr>
<tr>
<td align="left"> x < y </td>
<td align="left"> Test si x est inférieur à y et renvoi True dans ce cas et False sinon </td>
</tr>
<tr>
<td align="left"> x <= y </td>
<td align="left"> Test si x est inférieur ou égal à y et renvoi True dans ce cas et False sinon </td>
</tr>
<tr>
<td align="left"> x == y </td>
<td align="left"> Test si x est égal à y et renvoi True dans ce cas et False sinon </td>
</tr>
<tr>
<td align="left"> x != y </td>
<td align="left"> Test si x est différent à y et renvoi True dans ce cas et False sinon </td>
</tr>
</tbody>
</table>

In [20]:
print(7>3)

True

In [21]:
print(14>=27)

False

In [22]:
print(7<3)

False

In [23]:
print(14<=27)

True

In [24]:
print(4.1==4)

False

In [25]:
print(9!=10)

True

#### Liste des principaux opérateurs logiques (pour réunir des expression booléennes)

<table>
<thead>
<tr>
<th align="left"> Opérateurs</th>
<th align="left"> Opérations effectuées</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left"> x and y </td>
<td align="left">Intersection</td>
</tr>
<tr>
<td align="left"> x or y </td>
<td align="left"> Union </td>
</tr>
<tr>
<td align="left"> not x </td>
<td align="left"> Négation </td>
</tr>
</tbody>
</table>

ici, x et y représentent des expressions booléennes :
- x and y prend la valeur True si x et y sont True et sinon il prend la valeur False
- x or y prend la valeur False si x et y sont False et sinon il prend la valeur True
- not x prend la valeur True si x est False et prend la valeur False si x est True